body {
  /* background: linear-gradient(to right, #ff922b, #c92a2a); */
  background: linear-gradient(to right, #b2f2bb, #a5d8ff);
  /* background: linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%); */
}

.flex-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.ml-auto {
  align-items: center;
  justify-content: flex-end;
}

.w-17 {
  width: 17rem;
}

.w-20 {
  width: 15rem;
  height: 5rem;
}

.mb-10 {
  margin-bottom: 6rem;
}

.task-container {
  max-height: 28rem;
  overflow-y: scroll;
}

.invalid {
  border: 1px #c92a2a solid;
  color: #c92a2a;
  background-color: #ffe3e3;
}
